@font-face {
    font-family: Montesuma; /* Имя шрифта */
    src: url(../fonts/montesuma.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Tavria; /* Имя шрифта */
    src: url(../fonts/tavria.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Wonderland; /* Имя шрифта */
    src: url(../fonts/wonderland.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Glamour; /* Имя шрифта */
    src: url(../fonts/glamour.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Access; /* Имя шрифта */
    src: url(../fonts/access.ttf); /* Путь к файлу со шрифтом */
}

* {
	padding: 0;
	margin: 0;
	font-size: 0;
	text-align: justify;
	cursor: pointer;
	font-family: "Trebuchet MS", "Lucida Sans";
}

body {
	background: linear-gradient(to bottom, #1f5e95 0%, #1f5e95 30%, #1d578b 80%, #1d578b 100%);
	position: relative;
	font-size: 16px;
	color: #fff;
	overflow-x: hidden;
}

img {
	width: 100%;
	max-width: 100%;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}


h1 {
	text-align: center;
	font-size: 40px;
	margin: 20px 0;
	position: relative;
}

h2 {
	text-align: center;
	font-size: 30px;
	margin: 0px 0px 45px 0px;
	position: relative;
}

img.capitan {
	height: 130px;
	width: auto;
	position: absolute;
	top: -30px;
	margin-left: 140px; 
}


img.map {
	height: 150px;
	width: 150px;
	position: absolute;
	top: -50px;
	margin-left: -170px;
}

img.mask {
	height: 100px;
	width: 100px;
	position: absolute;
	top: -30px;
	margin-left: 20px;
}

span.underline {
	text-decoration: underline;
}


h3 {
	font-size: 30px;
	margin: 10px 0
}

p, span, strong, i, b, td, th, li, strong {
	font-size: 20px;
	line-height: 25px;
	margin: 5px 0;
	font-weight: normal;
}

p {
	text-indent: 30px;
}

section {
	margin: 50px auto;
}

.center {
	text-align: center;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 50px
	text-align: right;
}

header .container {text-align: right;}

header .logo {
	display: inline-block;
}

header .logo p {
	font-size: 20px;
	font-family: Access;
}

header .logo span {
	font-size: 30px;
	font-weight: bold;
}

header .contacts {
	margin-top: 40px;
	display: inline-block;
}

header .contacts .text {
	display: inline-block;
	width: 110px;
	vertical-align: top;
}

header .contacts .text span {
	color: #042467;
	display: block;
}

header .contacts .number {
	display: inline-block;
	vertical-align: top;
}

header .contacts .number span {
	color: #042467;
	display: block;
}

footer {
	min-height: 200px
}


.top_photo {
	position: relative;
	margin-bottom: -30%;
	width: 100%;
	height: 500px;
	z-index: -1
}

.top_photo img {
	object-fit: cover;
	height: 100%;
}

.bottom_photo {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 140px;
	z-index: -2;
}

.bottom_photo img {
	object-fit: cover;
	height: 100%;
}

@media screen and (min-width: 855px) {
	.top_photo {
		height: auto;
	}
	.bottom_photo {
		height: auto;
	}
}

#routes {
	text-align: center;
	vertical-align: middle;
}

#routes .item {
	display: inline-block;
	width: 27%;
	margin: 10px 2%;
	vertical-align: top;
	border: 2px solid #042467;
	border-radius: 20px;
}

#routes .item:hover {
	-webkit-transform: scale(1.1);
  	-ms-transform: scale(1.1);
  	transform: scale(1.1);
}

#routes .item.first,
#routes .item.third {
	line-height: 70px;
}

#routes .item.second {
	position: relative;
	top: 25px;
}

#routes h3 {
	border-bottom: 2px dotted #042467;
	min-height: 70px;
	padding-bottom: 10px;
	vertical-align: middle;
}

#routes h3,
#routes p {
	text-align: center;
}

#routes .item.first p.main,
#routes .item.third p.main {
	min-height: 100px;
}

#prices .table {
	width: 100%;
	border-collapse: collapse;
}

#prices .table .tr {
	display: block;
}

#prices .table .th,
#prices .table .td {
	padding: 10px;
	text-align: center;
	display: inline-block;
	width: calc(50% - 20px);
}

#prices .table .th {
	font-weight: bold;
	color: yellow;
}

canvas#bubbles {
	position: absolute;
	bottom: 0px;
	height: 82%;
	z-index: -1;
}

div#container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: -webkit-linear-gradient(270deg, #419DEF 0%, #1C6599 100%);
	background-image: linear-gradient(-180deg, #419DEF 0%, #1C6599 100%);
}

.equipments {
	list-style: none;
	padding: 0;
}
.equipments li {
	font-family: "Trebuchet MS", "Lucida Sans";
	padding: 7px 20px;
	margin-bottom: 10px;
	margin-right: 200px;
	margin-left: 200px;
	border-radius: 5px;
	border-left: 10px solid #f05d22; 
	box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
	     -2px -2px 5px 0 rgba(0,0,0,.1),
	    2px 2px 5px 0 rgba(0,0,0,.1),
	    -2px 2px 5px 0 rgba(0,0,0,.1);
	font-size: 16px;
	letter-spacing: 2px;
	transition: 0.3s all linear;
}

.equipments li:nth-child(5n){border-color: #493224;}
.equipments li:nth-child(5n + 1){border-color: #8bc63e;}
.equipments li:nth-child(5n + 2){border-color: #fcba30;}
.equipments li:nth-child(5n + 3){border-color: #1ccfc9;}
.equipments li:nth-child(5n + 4){border-color: #f05d22;}
.equipments li:hover {border-left: 10px solid transparent;}
.equipments li:nth-child(5n):hover {border-right: 10px solid #493224;}
.equipments li:nth-child(5n + 1):hover {border-right: 10px solid #8bc63e;}
.equipments li:nth-child(5n + 2):hover {border-right: 10px solid #fcba30;}
.equipments li:nth-child(5n + 3):hover {border-right: 10px solid #1ccfc9;}
.equipments li:nth-child(5n + 4):hover {border-right: 10px solid #f05d22;}

@media screen and (max-width: 1600px) {
	.container {
		max-width: 1100px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 900px;
	}
}

@media screen and (max-width: 980px) {
	.container {
		max-width: 700px;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 20px;
	}
}