html body {
  margin:0px;background:#1f5c93;
}
.txt {
  font-family: Verdana, san-serif;
  font-size: 12px;
  color: #fff;
}
.mar {
  font-family: Verdana, san-serif;
  font-size: 11px;
  color: #fff;
}
.small {
  font-family: Verdana, san-serif;
  font-size: 11px;
  color: #fff;
  font-style: italic;
}
.title {
  font-family: Georgia, serif;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
.number {
  font-family: Arial, san-serif;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}


